.head{
    width: 100%;
    height: 10vh;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #A03037;
}

.book-media{
    top: 16px;
    left: 150px;
    width: 31px;
    height: 24px;
    background: transparent url(../assets/education.svg) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.bookText{
    top: 15px;
    left: 201px;
    width: 91px;
    height: 26px;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    position: absolute;
}

.search{
    top: -30px;
    left: 310px;
    width: 449px;
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    position: relative;
}

.personIcon{
    top: 7px;
    left: 0px;
    width: 15px;
    height: 15px;
    color: white;
    opacity: 1;
    position: relative;
}

.profileText{
    top: 0px;
    font-size: 12px;
    left: 6px;
    color: white;
    opacity: 1;
    position: relative;
}

.btnProfile{
    top: -35px;
    left: 350px;
    width: 66px;
    height: 10vh;
    position: relative;
    background-color: #A03037;
    border: none;
}

.btnCart{
    top: -24px;
    left: 360px;
    width: 66px;
    height: 10vh;
    position: relative;
    background-color: #A03037;
    border: none;
}

.cartIcon{
    top: -2px;
    left: 8px;
    width: 15px;
    height: 15px;
    color: white;
    opacity: 1;
    position: relative;
}

.CartText{
    top: 11px;
    font-size: 12px;
    left: -8px;
    /* width: 1329px; */
    /* height: 57px; */
    color: white;
    opacity: 1;
    position: relative;
}

.footer{
    width: 100%;
    height: 6vh;
    margin: 0;
    /* top: 0; */
    bottom: -75px;
    left: 0;
    position: relative;
    background-color: #503838;
}

.copyrightText{
    color: white;
    /* left: 175px; */
    position: relative;
    top: 5px;
    text-align: center;
}

.homeText{
    position: relative;
    top: 63px;
    color: #9D9D9D;
    font-size: 16px;
    /* left: 10px; */
}

.myCartText{
    position: relative;
    left: 55px;
    color: #0A0102;
    font-size: 14px;
    top: 30px;
}

.myCartDiv{
    position: relative;
    top: 32px;
    left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    /* height: 251px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}

.myCart-text1{
    color: #0A0102;
    left: 30px;
    position: relative;
    font-family: sans-serif;
}

.locationTab{
    position: relative;
    top: 19px;
    height: 32px;
    left: -28px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}

.imgBook{
    top: 0px;
    position: relative;
    left: 30px;
}

.bookDetailDiv{
    position: relative;
    left: 55px;
}

.flexMycart{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.bookName{
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
}

.author{
    color: gray;
    font-size: 11px;
}

.plusMinusBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plceOrderBtn{
    position: relative;
    float: right;
    background-color: #3371B5;
    border: none;
    width: 100px;
    height: 34px;
    color: white;
    right: 28px;
    border-radius: 2px;
    top: -46px;
}

.discountMyCart{
    position: relative;
    top: -33px;
    left: 60px;
    font-size: 11px;
    color: grey;
}

.customerDetailsDiv{
    position: relative;
    top: 50px;
    left: 100px;
    width: 750px;
    height: 370px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}

.customerText{
    color: #0A0102;
    left: 30px;
    position: relative;
    font-family: sans-serif;
}

.updateDetailDiv{
    display: flex;
    flex-direction: row;
    left: 50px;
    position: relative;
    top: 15px;
}

.updateNameDiv{
    left: -70px;
    position: relative;
}

.updateInputName{
    height: 30px;
    margin-right: 5px;
    border: 1px solid #DCDCDC;
    left: -4px; 
    position: relative;
}

.updatePhoneDiv{
    left: -160px;
    position: relative;
}

.updateLabelPhone{
    position: relative;
    top: -25px;
    left: 100px;
    font-family: sans-serif;
}

.updateInputPhone{
    height: 30px;
    margin-right: 5px;
    border: 1px solid #DCDCDC;
    position: relative;
    left: -12px;
}

.updateLabelAddress{
    position: relative;
    top: -28px;
    left: 55px;
    font-family: sans-serif;
}

.updateTextarea{
    position: relative;
    top: 48px;
    left: -8px;
    border: 1px solid #DCDCDC;
}

.updateCityStateDiv{
    display: flex;
    flex-direction: row;
    left: 50px;
    position: relative;
    top: 72px;
}

.updateCityDiv{
    left: -70px;
    position: relative;
}

.updateCityLabel{
    position: relative;
    top: -25px;
    left: 72px;
    font-family: sans-serif;
}

.updateCityInput{
    height: 30px;
    margin-right: 5px;
    border: 1px solid #DCDCDC;
}

.updateStateDiv{
    left: -96px;
    position: relative;
}

.updateStateLabel{
    position: relative;
    top: -25px;
    left: 42px;
    font-family: sans-serif;
}

.textType{
    position: relative;
    top: 65px;
    left: 52px;
    font-family: sans-serif;
}

.uAddTypeRadio{
    position: relative;
    top: 55px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.addNewAddBtn{
    position: relative;
    top: 20px;
    left: -28px;
    height: 30px;
    border-color: #A03037;
    background-color: white;
    color: #A03037;
}

.continueBtn{
    position: relative;
    float: right;
    background-color: #3371B5;
    border: none;
    width: 100px;
    height: 34px;
    color: white;
    right: 28px;
    border-radius: 2px;
    top: 65px;
}

.orderSummaryDiv{
    position: relative;
    top: 65px;
    left: 100px;
    /* width: 750px; */
    /* height: 250px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}

.checkoutBtn{
    position: relative;
    float: right;
    background-color: #3371B5;
    border: none;
    width: 100px;
    height: 34px;
    color: white;
    right: 28px;
    border-radius: 2px;
    top: -50px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 851px) and (-webkit-min-device-pixel-ratio: 1){
    .search{
        display: none;
    }

    .pBookText{
        font-size: x-large;
        left: 30px;
        margin: 0;
        top: 7px;
    }

    .book-media{
        left: 20px;
    }

    .bookText{
        left: 65px;
    }

    .btnProfile{
        top: -33px;
        left: 162px;
        width: 60px;
        height: 10vh;
        position: relative;
    }

    .personIcon{
        top: 5px;
        left: 0px;
        width: 15px;
        height: 15px;
        color: white;
        opacity: 1;
        position: relative;
    }

    .profileText{
        top: 0px;
        font-size: 12px;
        left: 4px;
    }

    .btnCart{
        left: 160px;
        width: 60px;
    }

    /* .pagination{
        display: flex;
        padding-left: 2px;
    } */

    /* .cardBook{
        width: 240px;
        height: 315px;
        left: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;        
    } */

    .myCartDiv{
        width: 90%;
    }

    .myCart-text1{
        left: 10px;
    }

    .locationTab{
        top: 5px;
        height: 25px;
        /* width: 50%; */
        left: -8px;
    }

    .imgBook{
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        margin-bottom: 20px;
    }

    .flexMycart{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 15px;
    }

    .bookDetailDiv{
        left: 0;
    }

    .bookName{
        text-align: center;
    }

    .author{
        text-align: center;
    }

    .discountPrice{
        text-align: center;
    }

    .discountMyCart{
        position: relative;
        top: -31px;
        /* left: 160px; */
    }

    .plusMinusBtn{
        position: relative;
        top: -64px;
    }

    .customerDetailsDiv{
        position: relative;
        left: 0;
        width: 92%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 90vh;
    }

    .addNewAddBtn{
        position: relative;
        top: 5px;
        left: -10px;
        height: 25px;
    }

    .updateDetailDiv {
        display: flex;
        flex-direction: column;
        left: 0px;
        align-items: center;
        position: relative;
    }    

    .updateNameDiv{
        top: 10px;
    }

    .updateInputName{
        margin-right: 0px;
        left: 0px;
    }

    .updatePhoneDiv{
        left: 0px;
        top: 12px;
    }

    .updateLabelPhone{
        position: relative;
        top: 0px;
        left: 14px;
    }

    .updateInputPhone{
        left: 14px;
    }

    .updateLabelAddress{
        position: relative;
        top: 32px;
        left: 14px;
    }

    .updateTextarea{
        position: relative;
        top: 35px;
        left: 0px;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .updateCityStateDiv{
        display: flex;
        flex-direction: column;
        left: 0;
    }

    .updateCityDiv{
        left: 0px;
        top: -10px;
    }

    .updateCityLabel{
        position: relative;
        top: -25px;
        left: 14px;
    }

    .updateCityInput{
        top: 5px;
        left: -55px;
        height: 30px;
        position: relative;
    }

    .updateStateDiv{
        top: 20px;
        left: 0px;
        position: relative;
    }

    .updateStateLabel{
        left: 14px;
    }

    .updateStateInput{
        position: relative;
        left: -22px;
        top: 5px;
    }

    .textType{
        position: relative;
        top: 100px;
        left: 14px;
        font-weight: bold;
        font-family: sans-serif;
    }

    .uAddTypeRadio{
        position: relative;
        top: 93px;
    }

    .continueBtn{
        position: relative;
        top: 95px;
        left: -11px;
    }

    .customerText{
        left: 10px;
        padding: 5px;
    }

    .cSelect{
        position: relative;
        width: 50%;
        left: -15px;
    }

    .orderSummaryDiv{
        left: 0;
    }

    .copyrightText{
        font-size: x-small;
        left: -1px;
    }
}