.head{
    width: 100%;
    height: 10vh;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #A03037;
}

.book-media{
    top: 16px;
    left: 150px;
    width: 31px;
    height: 24px;
    background: transparent url(../assets/education.svg) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.bookText{
    top: 15px;
    left: 201px;
    width: 91px;
    height: 26px;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    position: absolute;
}

.search{
    top: -30px;
    left: 310px;
    width: 449px;
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    position: relative;
}

.personIcon{
    top: -4px;
    left: 16px;
    width: 15px;
    height: 15px;
    color: white;
    opacity: 1;
    position: relative;
}

.profileText{
    top: 11px;
    font-size: 12px;
    left: -5px;
    color: white;
    opacity: 1;
    position: relative;
}

.btnProfile{
    top: -24px;
    left: 350px;
    width: 66px;
    height: 10vh;
    position: relative;
    background-color: #A03037;
    border: none;
}

.btnCart{
    top: -24px;
    left: 360px;
    width: 66px;
    height: 10vh;
    position: relative;
    background-color: #A03037;
    border: none;
}

.cartIcon{
    top: -2px;
    left: 8px;
    width: 15px;
    height: 15px;
    color: white;
    opacity: 1;
    position: relative;
}

.CartText{
    top: 11px;
    font-size: 12px;
    left: -8px;
    /* width: 1329px; */
    /* height: 57px; */
    color: white;
    opacity: 1;
    position: relative;
}

.footer{
    width: 100%;
    height: 6vh;
    margin: 0;
    /* top: 0; */
    bottom: -75px;
    left: 0;
    position: relative;
    background-color: #503838;
}

.copyrightText{
    color: white;
    left: 175px;
    position: relative;
    top: 5px;
}

.homeText{
    position: relative;
    top: 44px;
    color: #9D9D9D;
    font-size: 16px;
    left: 10px;
}

.myCartText{
    position: relative;
    left: 55px;
    color: #0A0102;
    font-size: 14px;
    top: 10px;
}

.myCartDiv{
    position: relative;
    top: 32px;
    left: 100px;
    /* width: 750px; */
    /* height: 251px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}

.placeOrderImg{
    position: relative;
    top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactusDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    /* width: 400px; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* top: 15px; */
}


.continueShopBtn{
    position: relative;
    top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #3371B5;
    border: none;
    height: 35px;
    color: white;
    right: 28px;
    border-radius: 2px;
}