<link rel="stylesheet" href="/css/myCart.css">
<header class="head">
    <md-content>
        <md-toolbar class="md-hue-2">
            <div flex-xs flex-gt-xs="50" layout="row">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >
                    <md-card-title>
                        <md-card-title-media>
                            <div class="md-media-lg book-media"></div>
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline bookText">Bookstore</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-input-container>
                        <input class="search" type="text" name="text" ng-model="text" placeholder="Search" required="">
                    </md-input-container>
                    <!-- <md-button> -->
                        <button class="btnProfile">
                            <div>
                                <span class="material-symbols-outlined personIcon">person</span>
                                <label class="profileText">Profile</label>
                            </div>
                        </button>
                        <a ng-href="#/myCart">
                            <button class="btnCart">
                                <div>
                                    <span class="material-symbols-outlined cartIcon">shopping_cart</span>
                                    <label class="CartText">Cart</label>
                                </div>
                            </button>
                        </a>
                        <!-- <div>
                            <span class="material-symbols-outlined personIcon">person</span>
                            <label class="profileText">Profile</label>
                        </div> -->
                    <!-- </md-button> -->
                </md-card>
            </div>
          </md-toolbar>
    </md-content>
</header>
<div style="position: relative;">
    <!-- <p class="homeText">Home/</p> -->
    <a ng-href="#/dashboard"><p class="homeText">Home/</p></a>
    <span class="myCartText">My Cart</span>
</div>
<!-- <section> -->
    <!-- <div> -->
        <div class="myCartDiv" ng-if="show">
            <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <div><p class="myCart-text1">My cart(1)</p></div>    
                <div>
                    <select class="locationTab">
                        <option>Use Current Location</option>
                    </select>
                </div>
            </div>
            <div class="flexMycart" ng-repeat="myCartItem in myCartItems" >
                <div class="myCartBookImg">
                    <img src="/assets/Image 11.png" alt="" class="imgBook">
                </div>
                <div class="bookDetailDiv">
                    <p class="bookName">{{ myCartItem.product_id.bookName }}</p> 
                    <p class="author">by {{ myCartItem.product_id.author }}</p>
                    <p class="discountPrice">Rs{{ myCartItem.product_id.discountPrice }}</p>
                    <span class="discountMyCart">Rs{{ myCartItem.product_id.price }}</span><hr style="position: relative;top: -49px;width: 38px;left: 17px;">
                    <div class="plusMinusBtn">
                        <button style="border-radius: 10px; border: 1px solid #DBDBDB; margin-right: 5px;">-</button>
                        <button style="border: 1px solid #DBDBDB; margin-right: 5px;">{{myCartItem.quantityToBuy}}</button>
                        <button style="border-radius: 10px; border: 1px solid #DBDBDB; margin-right: 5px;" ng-model="myCartItems.quantityToBuy" ng-click="addQuantity(myCartItem)">+</button>
                        <button style="border: 1px solid #DBDBDB; margin-right: 5px;" ng-click="remove(myCartItem)">Remove</button>
                    </div>
                </div>
            </div> 
            <div>
                <button class="plceOrderBtn" ng-click="placeOrder()">Place Order</button>
            </div>
        </div>

        <div class="customerDetailsDiv" ng-if="showCustomer">
            <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <div><p class="customerText">Customer Details</p></div>    
                <div>
                    <button class="addNewAddBtn">Add New Address</button>
                </div>
            </div>
            <form>
                <div class="updateDetailDiv">
                    <div class="updateNameDiv">
                        <label style="position: relative;top: -25px;left: 72px;font-family: sans-serif;">Full Name</label>
                        <input type="text" ng-model="myCartItems.fullName" placeholder="Full Name" class="updateInputName">
                    </div>
                    <div class="updatePhoneDiv">
                        <label class="updateLabelPhone">Phone Number</label>
                        <input type="tel" ng-model="myCartItems.phone" placeholder="Phone Number" class="updateInputPhone">
                    </div>               
                </div>
                <!-- <div> -->
                    <label class="updateLabelAddress">Address</label>
                    <textarea cols="47" rows="4" ng-model="myCartItems.fullAddress" class="updateTextarea" placeholder="Address"></textarea>
                <!-- </div> -->
                <div class="updateCityStateDiv">
                    <div class="updateCityDiv">
                        <label class="updateCityLabel">City/Town</label>
                        <input type="text" ng-model="myCartItems.city" class="updateCityInput" placeholder="City/Town">
                    </div>
                    <div class="updateStateDiv">
                        <label class="updateStateLabel">State</label>
                        <input type="text" class="updateStateInput" ng-model="myCartItems.state" placeholder="State" style="height: 30px;margin-right: 5px;border: 1px solid #DCDCDC;">
                    </div>               
                </div>
                <p class="textType">Type</p>
                <div class="uAddTypeRadio">
                    <input type="radio" ng-model="myCartItems.addressType"  id="home" name="fav_language" value="Home">
                    <label for="home">Home</label><br>
                    <input type="radio" ng-model="myCartItems.addressType" id="work" name="fav_language" value="Work">
                    <label for="work">Work</label><br>
                    <input type="radio" ng-model="myCartItems.addressType" id="other" name="fav_language" value="Other">
                    <label for="other">Other</label>
                </div>
                <div>
                    <button class="continueBtn" ng-click="continue()">Continue</button>
                </div>
            </form>
            
        </div>
        <div class="orderSummaryDiv" ng-if="showOrder" ng-repeat="placeOrder in myCartItems">
            <p style="position: relative;left: 52px;font-family: sans-serif;">Order Summary</p>
            <div style="display: flex;flex-direction: row;left: 25px;position: relative;" >  <!--ng-repeat="myCartItem in myCartItems" -->
                <div class="myCartBookImg">
                    <img src="/assets/Image 11.png" alt="" class="imgBook">
                </div>
                <div style="position: relative;left: 55px;">
                    <p style="margin: 0;font-family: sans-serif;font-size: 13px;" ng-model="placeOrder.product_id.bookName">{{placeOrder.product_id.bookName}}</p> 
                    <p style="color: gray;font-size: 11px;" ng-model="placeOrder.product_id.author">by {{placeOrder.product_id.author}}</p>
                    <p ng-model="placeOrder.product_id.discountPrice">Rs.{{placeOrder.product_id.discountPrice}}</p>
                    <span class="discountMyCart" ng-model="placeOrder.product_id.price">Rs.{{placeOrder.product_id.price}}</span><hr style="position: relative;top: -49px;width: 38px;left: 17px;">
                    <p style="color: gray;font-size: 11px;" ng-model="placeOrder.product_id.quantity">({{placeOrder.product_id.quantity}})</p>
                </div>
            </div>
            <div>
                <button class="checkoutBtn" ng-click="checkout(placeOrder.product_id)">Checkout</button>
            </div>
        </div>
    <!-- </div>
</section> -->
    
<footer class="footer">
    <div>
        <p class="copyrightText">Copyright &copy 2022. Bookstore Private Limited. All Rights Reserved</p>
    </div>
</footer>